.on {
    box-shadow: 10px 10px 48px 48px rgba(242, 255, 0, 0.75);
    -webkit-box-shadow: 10px 10px 48px 48px rgba(242, 255, 0, 0.75);
    -moz-box-shadow: 10px 10px 48px 48px rgba(242, 255, 0, 0.75);
}
